<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

      <a class="navbar-brand" href="https://blirt.eu/"><img src="file:/home/sanczo/PycharmProjects/stronka/website/static/css/blirt-logo-top.png" alt="" width="287" height="45" class="d-inline-block align-text-top">
          BLIRT S.A.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Kontakt</a>
      </li>


         <li class="nav-item">
        <a class="nav-link" href="#">Wyloguj</a>
      </li>


    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Szukaj" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
  </div>

  </div>

    <a href="/login"><button class="btn btn-success navbar-btn">Zaloguj</button> </a>
     <a href="/register"><button class="btn btn-success navbar-btn">Zarejestruj</button> </a>
</nav>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

    {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
            {{message}}
</div>
    {% endfor %}

  {% endif %}
{% endwith %}


{% block body %}


{% endblock %}


<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>
</html>