{% extends 'base.html' %}

{% block title %} Kontakt {% endblock %}

{% block body %}

<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Skontaktuj się z nami</h1>
							<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                                {{ form.csrf_token }}
								<div class="mb-3">
									<label class="mb-2 text-muted" for="first_name">{{ form.first_name.label }}</label>
                                    {{ form.first_name(class="form-control") }}
									{% for err in form.first_name.errors %}
									<div style="color: red;">{{err}}</div>
									{% endfor %}
<!--									<input id="name" type="text" class="form-control" name="name" value="{{ form.first_name.data }}" required autofocus>-->
								</div>

								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">{{ form.email.label }}</label>
<!--									<input id="email" type="email" class="form-control" name="email" value="{{ form.email.data }}" required>-->
                                    {{ form.email(class="form-control") }}
									{% for err in form.email.errors %}
									<div style="color: red;">{{err}}</div>
									{% endfor %}
								</div>

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="subject">{{ form.subject.label }}</label>
                                    {{ form.subject(class="form-control") }}
									{% for err in form.subject.errors %}
									<div style="color: red;">{{err}}</div>
									{% endfor %}
                                </div>
                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="message">{{ form.message.label }}</label>
                                   {{ form.message(class="form-control") }}
									{% for err in form.message.errors %}
									<div style="color: red;">{{err}}</div>
									{% endfor %}
                                </div>
                                <div class="align-items-center d-flex">
                                    <button type="submit" class="btn btn-primary ms-auto">
                                        Wyślij wiadomość
                                    </button>
                                </div>
                            </form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Masz już konto? <a href="login" class="text-dark">Zaloguj się</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<script src="js/login.js"></script>


{% endblock %}



