{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block body %}
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="container">
    <center>
    <h3>Graciarnia</h3>
<h3>Program do obsługi magazynu odczynników i materiałów zużywalnych.</h3>
    <h3>BLIRT S.A./Kładki </h3>
</center>
Witaj {{ current_user.user_login }}

</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;
<center>
<a href="/login"><button class="btn btn-success navbar-btn">Zaloguj</button> </a>
<a href="/register"><button class="btn btn-success navbar-btn">Zarejestruj</button> </a>
</center>
</div>
{% endblock %}